header {
  height: 100px;
  width: 100%;
  background-color: orange;
}

header h1 {
  font-size: 50px;
}

footer h1 {
  font-size: 12px;
}

h1 {
  background-color: lightyellow;
  color: lightcoral;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

main {
  height: 150px;
  width: 150px;
  border: 1px solid lightgray;
  text-align: center;
}

main p {
  color: lightcoral;
  text-decoration: overline;
}

nav {
  height: 150px;
  width: 150px;
  border: 1px solid lightgray;
  background-color: lightgreen;
}

aside {
  height: 150px;
  width: 150px;
  border: 1px solid lightgray;
  background-color: lightblue;
}

