
// variabili generiche -colore e taglia-
$main_color: lightcoral;
$text: center;
$text_size_big: 50px;
$text_size_small: 12px;


@mixin dimensioni_generali {
  height: 150px;
  width: 150px;
  border: 1px solid lightgray;
}



@import 'header';

header{
  h1{
    font-size: $text_size_big;
  }
}

footer{
  h1{
    font-size: $text_size_small;
  }
}

h1{
  background-color: lightyellow;
  color: $main_color;
  text-align: $text;

}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

main{
 @include dimensioni_generali;
 text-align: $text;
 p{
   color: $main_color;
   text-decoration: overline;
 }

}

nav{
  @include dimensioni_generali;
  background-color: lightgreen;
}
aside{
  @include dimensioni_generali;
  background-color: lightblue;
}
